/*
 I didn't find any USF specific font.
 It can be included in the following way:
@font-face {
    font-family: usf;
    src: url(fonts/usf-font.eot);
    src: url(fonts/usf-font.woff2),
    url(fonts/usf-font.woff),    
    url(fonts/usf-font.ttf);   
}

Then use the 'font-family: usf;'
Where applicable
*/

*{
	margin: 0;
	padding: 0;
}

#wrapper{
	margin: 1rem 4rem 0;
}

body{
	background-color: #006747;
}

/* Header Content */
header{
	background-color: #fefefe;	
	height: 8rem;
	padding: 2rem 3rem;
	display: flex;
	display: -ms-flexbox;
    justify-content: space-between;		
}

header > img{
	margin-bottom: 2rem;
}
header > p{	
	align-self: flex-end;
	color: #006747;
	font-family : Helvetica ;
	text-align: right;	
	font-weight: bold;
	width: 12.75rem;
}

/* Feature Content */
.feature{	
	background-color: #160305;
	color: #fefefe;
	padding-left: 3rem;		

	display: flex;
	display: -ms-flexbox;
	flex-flow: row wrap;
	justify-content: space-around;
}

.feature-title{
	color : #9ccb3b ;
	font-family: Helvetica;
	margin: 3rem 0 1rem 0;
	font-size: 2.5rem;	
}

.feature-info{
	color: #cccccc;
	margin: 0 2rem 1rem 0;
	font-family: Arial;
}

.feature-info > a{
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;	
}

.feature > div{		
	flex: 1;
}


/* Main Content */
.main-content{
	display: flex;
	display: -ms-flexbox;
}

main{
	font-family: Helvetica;
	padding: 2rem 3rem;
	background-color: #fefefe;	
}

.content-heading{
	color: #006747;
	margin-bottom: 1rem;
	display: flex;
	display: -ms-flexbox;
	flex-flow: row wrap;
}

.hr-border{
	width: 13.25rem;
}

.student-affairs-border{
	width: 10.75rem;
}

.gray-border{
	flex: 1 1 auto;
    width: 10%;
}

.content-heading > h2{
	width: 100%;
}

.content-heading > img{	
	height: 0.30rem;
}

.sub-title{
	color: #006747;
	font-size: 0.75rem;
	font-weight: bold;
	line-height: 1.5rem;
}

main > p{
	margin-bottom: 1rem;
	font-size: 0.75rem;
}

aside{
	padding: 2rem 3rem;
	background-color: #fefefe;
	font-family: Arial;
}

aside > p{
	font-size: 0.75rem;
}

.aside-title{
	color: #006747;
	margin: 1rem 0;
	font-weight: bold;
}

/* Footer Content */
footer{
	color: #ffffff;
	margin: 2rem auto;
	font-size: 0.75rem;
	text-align: center;	
	padding: 0 10%;
}

footer > p{
	margin-bottom: 1rem;
}

footer a{
	color: #ffffff;
	font-size: 0.8rem;
	font-weight: 900;
	text-decoration: none;
}

footer > .contact-info{
	font-style: italic;
}

/* Mobile Devices */
@media (max-width: 924px) {	
	/* Hide feature image when it displays below the text */
	.feature-image{
		display: none;
	}

	.feature{
		padding-bottom: 2rem;		
	}

	.sidebar-image{
		width: 100%;		
	}
}

@media (max-width: 720px) {	
	header{
		flex-flow: column wrap;
		height: 100%;
	}

	.main-content{
		flex-flow: column wrap;
	}
}

/* Effects */
.thin-shadow {
	-webkit-box-shadow: 0 2px 4px rgb(42, 41, 41);
       -moz-box-shadow: 0 2px 4px rgb(42, 41, 41);
            box-shadow: 0 2px 4px rgb(42, 41, 41);
}